.clients {
  background-image: linear-gradient(rgba(#fff, 0.6), rgba(#fff, 0.75)),
    url("../img/divicebg.jpg");
  background-size: cover;

  .client__heading::after {
    @include p-line;
    margin-bottom: 1rem;
  }
}
